*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    text-decoration: none;
    list-style: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
body{
    background-color: #fddbcb;
}
header{
    background-color: #e89973;
    width: 100%;
    height: 50px;
}
header h1{
    float: left;
    padding: 8px;
    color: black;
}
nav{
    width: 60%;
    height: 50px;
    background-color: #e89973;
    float: right;
}
nav li{
    float: right;
    margin: 0 10px;
    padding-top: 15px;
    color: white;
    
}
nav a{
    color: black;
    font-weight: bolder;
    font-size:large;
}
#formulario{
    width: 80%;
    height: 400px;
    margin: 0 auto;
    margin-top: 60px;
    justify-content: space-between;
    
}
#logo{
    float: left;
    width: 60%;
    height: 400px;
    background-color: transparent;
}
#formu{
    float: right;
    width: 38%;
    height: 400px;
    background-color: #efb498;
    padding: 80px 110px;
    border-radius: 10%;

}
#formu h2{
   padding-bottom: 40px;
}
#formu p{
    padding-bottom: 10px;
}
#botones{
    padding-top: 10px;
}
#boton{
    width: 80px;
    height: 30px;
}
#nosotros{
    width: 100%;
    height: 670px;
    background-image: url(image/fondo.png); 
}
#nosotros h2{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    padding-top: 20px;
}
#nosotros p{
    width: 100%;
    height: 200px;
    text-align: center;
}
#empleados{
    width: 80%;
    height: 300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
#empleados h3{
    text-align: center;
}
#ingresos{
    width: 100%;
    height: 520px;
    margin: 0 auto;
    margin-top: 60px;
    background-color: #e89973;
}
#ingresos h2{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
#contenedor{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

footer{
    background-color: #e89973;
    width: 100%;
    height: 140px;
    display: flex;
    justify-content:space-around;
    padding-top: 50px;
}
#catalogo{
    width: 100%;
    height: 100px;
    background-color: #e89973;
    text-align: center;
}
#catalogo h2{
    text-align: center;
    padding-top: 20px;
}
#columna1{
    width: 80%;
    height: 450px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}
#precio{
    text-align: center;
}
#precio p 
{
    margin-bottom: 10px;
}
#columna2{
    width: 60%;
    height: 450px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

#columna3{
    width: 80%;
    height: 450px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}
.volver{
    width: 100%;
    height: 50px;
    background-image: url(image/fondo.png);
    text-align: center;
    padding-top: 12px;
}
.volver a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
}
.preguntas{
    width: 80%;
    height: 160px;
    margin: 0 auto;
    padding-top: 40px;
    text-align: center;
}
#dudas{
    width: 100%;
    height: 200px;
    text-align: center;
    padding-top: 20px;
}
#dudas h3{
    padding-bottom: 20px;
}
#showroom{
    width: 80%;
    height: 550px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    padding-top: 50px;
}
#iconos{
    width: 90%;
    height: 530px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.pregfreq{
    font-size: 1.6em;
}
.button
{
    color: aliceblue;
    text-decoration: none;
    padding: 10px;
    border-radius: 20px;
    background-color: #e89973;
}
#mar{
    background: linear-gradient(white,rgb(236, 181, 114));
    -webkit-background-clip: text;
    color: transparent;

}
#sectionpreg{
    background: linear-gradient(rgb(249, 208, 196),rgb(236, 181, 114), rgb(249, 208, 196));
}
#ultimosingresos{
    background: linear-gradient(white,rgb(236, 181, 114));
    -webkit-background-clip: text;
    color: transparent;
}
